In [3]:
# Importing libraries and packages
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#import sys
#!{sys.executable} -m pip install pandas

In [5]:
data = [450, 650, 870]
Sales = Series(data, index = ["Don", "Mike", "Edwin"])
Sales

Don      450
Mike     650
Edwin    870
dtype: int64

In [6]:
type(Sales)

pandas.core.series.Series

In [7]:
# If we check the index of Sales, we will get the values, rather than the range. Because it's a string.
Sales.index

Index(['Don', 'Mike', 'Edwin'], dtype='object')

## Accessing values

In [8]:
# You can access values using the index name
Sales["Don"]

np.int64(450)

In [9]:
# You can still use traditional indexing
Sales[0]

/var/folders/_d/1b2bwsj97vl8l973k2_204tc0000gn/T/ipykernel_92545/3521589511.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Sales[0]

np.int64(450)

## Checking for conditions

In [11]:
# You can filter based on conditions
Sales > 500
# Returns booleans

Don      False
Mike      True
Edwin     True
dtype: bool

In [12]:
# We can use these booleans
Sales[[False,True, True]]

Mike     650
Edwin    870
dtype: int64

In [13]:
Sales[Sales>500]

Mike     650
Edwin    870
dtype: int64

In [14]:
"Don" in Sales

True

In [15]:
# False example
"Sally" in Sales

False

In [16]:
450 in Sales

False

In [18]:
"450" in Sales
# 450 is not an index, it's a value. Thus it will return False.

False

# Working with Dictionaries

In [19]:
# Converting a Series to a dictionary
sales_dict = Sales.to_dict()
sales_dict

{'Don': 450, 'Mike': 650, 'Edwin': 870}

In [21]:
# Converting a dict to a Series
sales_ser = Series(sales_dict)
sales_ser

Don      450
Mike     650
Edwin    870
dtype: int64

### Adding entries and working with NaN/null values

In [22]:
new_sales = Series (Sales, index=["Don", "Mike", "Sally", "Edwin", "Lucy"])
new_sales

Don      450.0
Mike     650.0
Sally      NaN
Edwin    870.0
Lucy       NaN
dtype: float64

In [23]:
# We can check if there are any NaN values in a Series
# We use numpy
np.isnan(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

In [24]:
# To check for null values, use Pandas
pd.isnull(new_sales)

Don      False
Mike     False
Sally     True
Edwin    False
Lucy      True
dtype: bool

### Naming components in a Series

In [29]:
# Name an index
Sales.index.name = "Sales person"
Sales

Sales person
Don      450
Mike     650
Edwin    870
Name: Total TV sales, dtype: int64

In [28]:
# Naming a Series
Sales.name = "Total TV sales"
Sales

Sales person
Don      450
Mike     650
Edwin    870
Name: Total TV sales, dtype: int64

## DataFrames

DataFrames are two-dimensional, size-mutable, potentially heterogeneous tabular data structures. This data structure contains TWO labeled axes (rows and columns.)

### Creating a DataFrame

In [33]:
# Creating a DataFrame from a list
data = [["Adrian", 20],["Bethany", 23], ["Chloe", 41]]

#When we create a DataFrame, we can specify what the column names are and the data type is
df = pd.DataFrame(data, columns=["Name", "Age"])
df

      Name  Age
0   Adrian   20
1  Bethany   23
2    Chloe   41